name: Bazel Sample

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build with Bazel
        working-directory: .
        run: |
          bazel build //:hello

      - name: Run binary
        working-directory: .
        run: |
          bazel run //:hello


